<p>
  <%= t('views.layouts.enter_excursions') %></br>
  <%= link_to excursions_path, class: "btn custom-btn" do%>
    <span class=" glyphicon glyphicon-tree-conifer "></span> <%= t('views.layouts.excursions') %>
  <% end %>
</p>
<p>
  <%= t('views.layouts.enter_users') %></br>
  <%= link_to users_path, class: "btn custom-btn" do%>
    <span class=" glyphicon glyphicon-user "></span> <%= t('views.layouts.users') %>
  <% end %>
</p>
